.grupa-container{
	padding: 5% 5% 5% 5%;
}

table#calendar td{
	height: 100px;
}

table#calendar td:hover p{
	bottom: 10px;
}

.grupa-buttons .col-sm-2{
	margin: 23px 20px;
}

.grupa-buttons button#next i{
	margin-left: 20px;
}

.grupa-buttons button#previous i{
	margin-right: 20px;
}

.grupa-buttons i{
	font-size: 12px;
	position: relative;
	bottom: 1px;
	display: inline;
	height: 70px;
}

.grupa-today{
	background: #007BFF;
	color: white;
}

.grupa-header{
	font-family: 'Source Sans Pro';
	font-weight: 200;
	font-size: 4em;
	float: left;
}

.grupa-days th{
	font-family: 'Source Sans Pro';
	font-weight: 400;
}

.grupa-days td{
	font-family: 'Source Sans Pro';
	font-weight: 500;
}

.grupa-select label{
	float: left;
}

.grupa-select{
	float: right;
	display: inline-block;
	padding: 25px;
}

#month, #year{
	width: 30%;
}

td{
	transition: background ease 0.6s;
	width: 14.28%;
	cursor: pointer;
}

.custom-today:hover{
	background: #007BFF;
}

.grupa-form input[type="submit"]{
	padding: 7px 20px;
	margin-left: 10px; 
}

.grupa-popup h3{
	margin-bottom: 20px;
}

.popup-close{
	position: absolute;
	top: 10px;
	right: 10px;
}

/*Dropdowns*/
.select-css {
	border: 0;
	color: #007BFF;
}

.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	box-shadow: 0 0 10px 3px rgba(59, 153, 252, .1);
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 10px 3px rgba(59, 153, 252, .3);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}

/*MLC Badge in footer*/
.mlc-footer a{
	color: black;
	padding: 10px;
	border: 1px solid #070920;
	border-radius: 5px;
	transition: 0.3s ease;
	text-decoration: none;
}

.mlc-footer a:hover{
	background: #070920;
	color: white;
	border: solid 1px #070920;
	text-decoration: none;
}

.mlc-footer img{
	position: relative;
	bottom: 3px;
}

.mlc-footer{
	position: fixed;
	bottom: 20px;
	right: 20px;
}

/*Popup classes*/
.popup-overlay{
	position: absolute;
	top: 30%;
}

.grupa-popup{
	box-shadow: 3px 0 50px -5px rgba(0,0,0,0.1);
	background: white;
	border-radius: 8px;
	padding: 3%; 
}

.grupa-popup h3{
	font-size: 2em;
	font-weight: 300;
}

.active{
	display: visible;
}

/*Blur popup bg*/
.background-overlay{
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px); 
}

.grupa-event{
	background: #efefef;
	color: black;
	padding: 0 5px 5px 5px;
	border-radius: 2px;
	line-height: 16px;
	cursor: pointer;
	position: relative;
}

.grupa-event:hover:before{
	content : "";
	position: absolute;
	left    : 0;
	bottom  : 0;
	height  : 1px;
	width   : 100%;  /* or 100px */
	border-bottom: 3px solid #007BFF;
}

.grupa-event_close{
	color: black;
	font-size: 10px;
	font-weight: 200;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

.grupa-event p{
	margin: 0;
}

.grupa-event_date{
	font-size: 12px;
	display: inline;
}

.grupa-event_name{
	display: inline;
}



/* Dark Mode */

.dark-mode, .dark-mode tr, .dark-mode td, .dark-mode .grupa-popup, .dark-mode .card{
	background: #121212;
	color: white;
}

.dark-mode .grupa-event{
	background: #1E1E1E;
}


.dark-mode p, .dark-mode h3, .dark-mode label{
	color: white;
}

.dark-mode .mlc-footer a{
	border: white 1px solid;
	color: white;
}

.dark-mode .select-css{
	background: #1E1E1E;
}

.dark-mode .select-css:focus {
	border-color: none;
	box-shadow: 0 0 10px 3px rgba(59, 153, 252, .3);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #fff;
	outline: none;
}

.dark-mode-button{
	position: absolute;
	bottom: 30px;
	left: 30px;
	padding: 5px;
	background: white;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
	color: black !important;
	cursor: pointer;
}

.dark-mode .grupa-today{
	background: #1E1E1E;
	color: white;
}